{% extends 'logger/dblayout.html' %}

{% load static %}

{% block title %}Dashboard{% endblock %}
{% block css%}
	<link href="{% static 'logger/db/calendar.css' %}" rel="stylesheet">
	<link href="{% static 'logger/db/css/day.css' %}" rel="stylesheet">
{% endblock %}


{% block body %}

	<section class="wrapper">
		<div id="calendar-container" class="container-fluid">
			<!-- ========= title wrapper start ====== -->
			<div class="title-wrapper pt-30">
				<div class="row align-items-center">
					<div class="col-md-6">
						<div class="title mb-30">
							<h2 class="date"></h2>
						</div>
					</div>
					<!-- end col -->
					<div class="col-md-6">
						<div class="nav-wrapper">
							<nav>
								<ul class="nav calendar-nav">
									<li class="nav-item">
										<button class="prev nav-link btn seek-button"><i class="fa-solid fa-circle-chevron-left"></i></button>
									</li>
									<li class="nav-item">
										<button class="next nav-link btn seek-button"><i class="fa-solid fa-circle-chevron-right"></i></button>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<!-- end col -->
				</div>
				<!-- end row  -->


				<!-- <div class="buttons">
					<div class="current-month">Today</div> -->
					<!-- prev/next buttons -->
					<!-- <div class="prev">&lt;</div> 
					<div class="next">&gt;</div>
				</div> -->
			</div>
			<!-- ========= title wrapper end ======== -->

			<div class="weekdays">
				<div>Sun</div>
				<div>Mon</div>
				<div>Tue</div>
				<div>Wed</div>
				<div>Thu</div>
				<div>Fri</div>
				<div>Sat</div>
			</div>
			<div class="days">
			</div>
		</div>
		<!-- end container -->
		<div id="day-container" class="container-fluid">
			<!-- ======== title wrapper start ========= -->
			<div class="title-wrapper pt-30">
				<div class="row align-items-center">
					<div class="col-md-6">
						<div class="title mb-30">
							<h2>{{ date }}</h2>
							<h2 id="date-header" data-day="" data-month="" data-year=""></h2>
						</div>
					</div>
					<!-- end col -->
					<div class="col-md-6">
						<div class="nav-wrapper mb-30">
							<nav>
								<ul class="nav exercise-nav">
									<li class="nav-item">
										<a id="prev" class="nav-link day-seek" href="#">Prev</a>
									</li>
									<li class="nav-item">
										<a id="next" class="nav-link day-seek" href="#">Next</a>
									</li>
									<li class="nav-item">
										<a id="calendar" class="nav-link" href="#">Calendar</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<!-- end col -->
				</div>
				<!-- end row -->
			</div>
			<!-- ======= title wrapper end ========= -->

			<!-- ========= day page wrapper start ======== -->
			<div class="day-page-wrapper">
				<div class="row">
					<!-- exercise log -->
					<div class="col-lg-4">
						<div class="card-style mb-30">
							<div class="log-wrapper">
								{% for log in object_list %}
									<div class="log mb-30 p-2">
										<h3 class="mb-2">{{ log.exercise.name }}</h3>
										<ul>
											{% for set in log.set_set.all %}
												<li>{{ set.reps }} reps @ {{ set.weight }}{{ set.units }}</li>
											{% endfor %}
										</ul>
									</div>
								{% endfor %}

							</div>
						</div>
						<!-- end card -->
					</div>
					<!-- end col -->
					<!-- journal page -->
					<div class="col-lg-8">
						<div class="card-style mb-30">
							<div id="paper">
								<div id="pattern">
									<div id="content">
										{% for log in object_list %}
											{% if log.notes %}
												<p><strong>{{ log.time }}</strong></p>
												<p>{{ log.notes }}</p>
												<br>
											{% endif %}
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
						<!-- end card -->
					</div>
					<!-- end col -->
				</div>
				<!-- end row -->
			</div>
			<!-- ========= day page wrapper end ========== -->
		</div>
		<!-- end container -->
	</section>

	<script src="{% static 'logger/db/js/calendar.js' %}"></script>
	
{% endblock %}