{% extends 'logger/dblayout.html' %}

{% load static %}

{% block title %}Dashboard{% endblock %}
{% block css%}<link href="{% static 'logger/db/calendar.css' %}" rel="stylesheet">{% endblock %}

{% block body %}

	<section class="wrapper">
		<div class="container-fluid">
			<!-- ========= title wrapper start ====== -->
			<div class="title-wrapper pt-30">
				<div class="row align-items-center">
					<div class="col-md-6">
						<div class="title mb-30">
							<h2 class="date"></h2>
						</div>
					</div>
					<!-- end col -->
					<div class="col-md-6">
						<div class="nav-wrapper">
							<nav>
								<ul class="nav calendar-nav">
									<li class="nav-item">
										<button class="prev nav-link btn seek-button"><i class="fa-solid fa-circle-chevron-left"></i></button>
									</li>
									<li class="nav-item">
										<button class="next nav-link btn seek-button"><i class="fa-solid fa-circle-chevron-right"></i></button>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<!-- end col -->
				</div>
				<!-- end row  -->


				<!-- <div class="buttons">
					<div class="current-month">Today</div> -->
					<!-- prev/next buttons -->
					<!-- <div class="prev">&lt;</div> 
					<div class="next">&gt;</div>
				</div> -->
			</div>
			<!-- ========= title wrapper end ======== -->

			<div class="weekdays">
				<div>Sun</div>
				<div>Mon</div>
				<div>Tue</div>
				<div>Wed</div>
				<div>Thu</div>
				<div>Fri</div>
				<div>Sat</div>
			</div>
			<div class="days">
			</div>
		</div>
		<!-- end container -->
	</section>
	<script src="{% static 'logger/db/js/calendar.js' %}"></script>
	
{% endblock %}