{% extends 'logger/dblayout.html' %}

{% load static %}

{% block title %}{{ date }}{% endblock %}

{% block css %}<link href="{% static 'logger/db/css/day.css' %}" rel="stylesheet">{% endblock %}

{% block body %}
	<section class="exercise-list">
		<div class="container-fluid">
			<!-- ======== title wrapper start ========= -->
			<div class="title-wrapper pt-30">
				<div class="row align-items-center">
					<div class="col-md-6">
						<div class="title mb-30">
							<h2>{{ date }}</h2>
							<h2>{{ day }} {{ month }} {{ year }}</h2>
						</div>
					</div>
					<!-- end col -->
					<div class="col-md-6">
						<div class="nav-wrapper mb-30">
							<nav>
								<ul class="nav exercise-nav">
									<li class="nav-item">
										<a class="nav-link" href="#">Prev</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Next</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<!-- end col -->
				</div>
				<!-- end row -->
			</div>
			<!-- ======= title wrapper end ========= -->

			<!-- ========= day page wrapper start ======== -->
			<div class="day-page-wrapper">
				<div class="row">
					<!-- exercise log -->
					<div class="col-lg-4">
						<div class="card-style mb-30">
							<div class="log-wrapper">
								{% for log in object_list %}
									<div class="log mb-30 p-2">
										<h3 class="mb-2">{{ log.exercise.name }}</h3>
										<ul>
											{% for set in log.set_set.all %}
												<li>{{ set.reps }} reps @ {{ set.weight }}{{ set.units }}</li>
											{% endfor %}
										</ul>
									</div>
								{% endfor %}

							</div>
						</div>
						<!-- end card -->
					</div>
					<!-- end col -->
					<!-- journal page -->
					<div class="col-lg-8">
						<div class="card-style mb-30">
							<div id="paper">
								<div id="pattern">
									<div id="content">
										{% for log in object_list %}
											{% if log.notes %}
												<p><strong>{{ log.time }}</strong></p>
												<p>{{ log.notes }}</p>
												<br>
											{% endif %}
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
						<!-- end card -->
					</div>
					<!-- end col -->
				</div>
				<!-- end row -->
			</div>
			<!-- ========= day page wrapper end ========== -->
		</div>
		<!-- end container -->
	</section>
{% endblock %}