{% extends 'logger/dblayout.html' %}

{% load static %}

{% block title %}Exercises{% endblock %}

{% block css %}<link href="{% static 'logger/db/css/exercise.css' %}" rel="stylesheet">{% endblock %}

{% block body %}
	<section class="exercise-list">
		<div class="container-fluid">
			<!-- ======== title wrapper start ========= -->
			<div class="title-wrapper pt-30">
				<div class="row align-items-center">
					<div class="col-md-6">
						<div class="title mb-30">
							<h2>Exercises</h2>
						</div>
					</div>
					<!-- end col -->
				</div>
				<!-- end row -->
			</div>
			<!-- ======== title wrapper end ========== -->

			<!-- ======== exercise list wrapper start ====== -->
			<!-- <div class="exercise-list-wrapper">
				<div class="table-wrapper table-responsive">
					<table class="table">
						<tbody>
							<tr>
								<td>
									<a href="#" class="text-decoration-none text-dark">Benchpress</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div> -->

			<!-- List each exercise per user -->
			{% for exercise in exercises %}
				<div class="p-3 border-bottom exercise-name">
					<a class="text-dark exercise-link" href="{% url 'exercise' exercise.id %}">{{ exercise.name }}</a>
				</div>
				<!-- <a href="{% url 'exercise' exercise.id %}">
					<div class="p-3 bg-light border-bottom">
						{{ exercise.name }}
					</div> -->
				</a>
			{% endfor %}
			<!-- ======== exercise list wrapper end ========= -->

			<!-- ======== add exercise button start ======== -->
			<div class="row mt-2">
				<button type="button" class="btn col-1 offset-11 add-button" data-bs-toggle="modal" data-bs-target="#Addexercise">
					<i class="fa-solid fa-circle-plus"></i>
				</button>
			</div>
			<!-- ======== add exercise button end ======== -->

			<!-- ======== modal start ========== -->
			<div class="modal fade" id="Addexercise" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="ModalLabel">Add exercise</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
						</div>
						<div class="modal-body">
							<!-- Add exercise form -->
							<form id="newexercise_form" method="POST" action="{% url 'new_exercise' %}">
								{% csrf_token %}
								<div class="form-floating mb-3">
									<input class="form-control" id="exercise_name" type="text" name="name" autocomplete="off" placeholder="Name">
									<label for="exercise_name">Name</label>
								</div>
								<div class="form-floating mb-3">
									<select class="form-select" id="floatingSelect" name="method" aria-label="Floating label select example">
										{% for method in methods %}
											<option value="{{ method.0 }}">{{ method.1 }}</option>
										{% endfor %}
									</select>
									<label for="floatingSelect">Exercise type:</label>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="submit" form="newexercise_form" class="btn btn-primary">Save exercise</button>
						</div>
					</div>
				</div>
			</div>
			<!-- ======== modal end ============ -->
		</div>
		<!-- end container -->
	</section>
{% endblock %}