{% extends 'logger/dblayout.html' %}

{% block title %}{{ exercise.name }}{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h1 class="text-center mb-2">{{ exercise.name }}</h1>
		
		<nav class="nav justify-content-between mb-4">
			<a class="nav-link active" href="#">New</a>
			<a class="nav-link" href="#">History</a>
			<a class="nav-link" href="#">Graph</a>
		</nav>
		<form>
			<h2>Date and Time</h2>
			<hr>
			<div class="row">
				<div class="col-6 form-floating">
					<input class="form-control" id="date" type="text" name="date" placeholder="Date">
					<label for="date">Date</label>
				</div>
				<div class="col-6 form-floating">
					<input class="form-control" id="time" type="text" name="time" placeholder="Time">
					<label for="time">Time</label>
				</div>
			</div>
			<br>
			<h2>Set</h2>
			<hr>
			<div class="row">
				<div class="col-5 form-floating">
					<input class="form-control" id="reps" type="text" name="reps" placeholder="reps">
					<label for="reps">reps</label>
				</div>
				<div class="col-2">
					<span id="repdescriptor" class="form-text">
					reps @
					</span>
				</div>
				<div class="col-5 form-floating">
					<input class="form-control" id="weight" type="text" name="weight" placeholder="weight">
					<label for="weight">weight</label>
				</div>
			</div>
			<br>
			<h2>Notes</h2>
			<hr>
			<div class="row">
				<div class="col-12 form-floating">
					<textarea class="form-control" placeholder="Notes" id="notes" style="height: 100px;"></textarea>
					<label for="notes">Notes</label>
				</div>
			</div>
		</form>
	</div>
{% endblock %}