{% extends 'logger/dblayout.html' %}

{% load static %}

{% block title %}{{ exercise.name }}{% endblock %}

{% block css %}<link href="{% static 'logger/db/css/exercise.css' %}" rel="stylesheet">{% endblock %}

{% block body %}
	<section class="exercise-list">
		<div class="container-fluid">
			<!-- ======== title wrapper start ========= -->
			<div class="title-wrapper pt-30">
				<div class="row align-items-center">
					<div class="col-md-6">
						<div class="title mb-30">
							<h2>{{ exercise.name }}</h2>
						</div>
					</div>
					<!-- end col -->
					<div class="col-md-6">
						<div class="nav-wrapper mb-30">
							<nav>
								<ul class="nav exercise-nav">
									<li class="nav-item">
										<a class="nav-link active" href="#">New</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{% url 'history' exercise.id %}">History</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{% url 'graph' exercise.id %}">Graph</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<!-- end col -->
				</div>
				<!-- end row -->
			</div>
			<!-- ======== title wrapper end ========== -->

			<!-- ======== new exercise log form start ======= -->
			<div class="form-elements-wrapper">
				<form id="addlog-form" data-exercise="{{ exercise.id }}">
					<!-- Date and time card start -->
					<div class="card-style mb-30">
						<h6 class="mb-25">Date and Time</h6>
						<div class="row">
							<div class="col-lg-6">
								<div class="input-style-1">
									<!-- <label>Date</label> -->
									<input type="date" id="logdate">
								</div>
							</div>
							<!-- end col -->
							<div class="col-lg-6">
								<div class="input-style-2">
									<!-- <label>Time</label> -->
									<input type="time" id="logtime">
								</div>
							</div>
						</div>
						<!-- end row -->
					</div>
					<!-- end Date and time card -->

					<!-- Set card start -->
					<div class="card-style mb-30">
						<h6 class="mb-25">Set</h6>
						<div class="row align-items-center">
							<div class="col-lg-4">
								<div class="input-style-1">
									<input id="reps" type="text" placeholder="Reps">
								</div>
							</div>
							<div class="col-lg-2">
								<div class="align-self-center">
									reps @
								</div>
							</div>
							<div class="col-lg-3">
								<div class="input-style-1">
									<input id="weight" type="text" placeholder="Weight">
								</div>
							</div>
							<div class="col-lg-2">
								<div class="select-style-1">
									<div class="select-position">
										<select id="units">
											<option value="">Unit</option>
											{% for unit in units %}
												<option value="{{ unit.0 }}">{{ unit.1 }}</option>
											{% endfor %}
										</select>
									</div>
								</div>
							</div>

							<button id="add-set" type="button" class="btn col-lg-1 add-button">
								<i class="fa-solid fa-circle-plus"></i>
							</button>
							<!-- end col -->
						</div>
						<!-- end row -->
						<!-- Place to add sets for current exercise -->
						<div id="currentsets" class="fs-5 row">
								<!-- <div class="col-10">
									10 reps @ 25lb
								</div> -->
								<!-- <button type="button" class="btn col-lg-1 edit-set">
									<i class="fa-solid fa-chevron-down"></i>
								</button> -->
						</div>
						<!-- end current sets -->
					</div>
					<!-- end card -->
					<!-- Notes card start -->
					<div class="card-style mb-30">
						<h6 class="mb-25">Notes</h6>
						<div class="row">
							<div class="col-lg-12">
								<div class="input-style-1">
									<textarea id="lognotes" placeholder="Notes" rows="3"></textarea>
								</div>
							</div>
						</div>
					</div>
					<!-- end card -->
					<button type="submit" class="main-btn primary-btn btn-hover">Save</button>
				</form>
			</div>
			<!-- ======== new exercise log form end ========= -->
		</div>
		<!-- end container -->
	</section>
	<script src="{% static 'logger/db/js/exercise.js' %}"></script>

{% endblock %}
