{% extends 'logger/dblayout.html' %}

{% load static %}

{% block title %}{{ exercise.name }}{% endblock %}

{% block css %}<link href="{% static 'logger/db/css/exercise.css' %}" rel="stylesheet">{% endblock %}

{% block body %}
	<section class="log-list">
		<div class="container-fluid">
			<!-- ======== title wrapper start ========= -->
			<div class="title-wrapper pt-30">
				<div class="row align-items-center">
					<div class="col-md-6">
						<div class="title mb-30">
							<h2>{{ exercise.name }}</h2>
						</div>
					</div>
					<!-- end col -->
					<div class="col-md-6">
						<div class="nav-wrapper mb-30">
							<nav>
								<ul class="nav exercise-nav">
									<li class="nav-item">
										<a class="nav-link" href="{% url 'exercise' exercise.id %}">New</a>
									</li>
									<li class="nav-item">
										<a class="nav-link active" href="#">History</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{% url 'graph' exercise.id %}">Graph</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<!-- end col -->
				</div>
				<!-- end row -->
			</div>
			<!-- ======== title wrapper end ========== -->

			<!-- ======= exercise logs start ======= -->
			<div class="log-wrapper">
				{% for log in logs %}
					<div class="log mb-30 p-2">
						<!-- TODO display the date in a prettier format -->
						<h3 class="mb-2">{{ log.date|date:"l F jS, Y" }} ({{ log.time }})</h3>
						<ul>
							{% for queryset in sets %}
								{% for set in queryset %}
									{% if set.log == log %}
										<li>{{ set.reps }} reps @ {{ set.weight }}{{ set.units }}</li>
									{% endif %}
								{% endfor %}
								<li>{{ set }}</li>
							{% endfor %}
						</ul>
					</div>
				{% endfor %}
			</div>
			<!-- ======= exercise logs end ========= -->
		</div>
		<!-- end container -->
	</section>
{% endblock %}