{% extends 'logger/landing.html' %}

{% load static %}

{% block title %}Sign in{% endblock %}

{% block css %}
	<link href="{% static 'logger/db/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'logger/db/css/LineIcons.css' %}" rel="stylesheet">
	<link href="{% static 'logger/db/css/materialdesignicons.min.css' %}" rel="stylesheet">
	<link href="{% static 'logger/db/css/fullcalendar.css' %}" rel="stylesheet">
	<link href="{% static 'logger/db/css/main.css' %}" rel="stylesheet">
	<link href="{% static 'logger/landing/css/landing.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
		{% if message %}
            <div class="mt-3 alert alert-danger alert-dismissible fade show text-center" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
	<main class="main-wrapper">
		<section class="signin-section">
			<div class="container-fluid">
				<!-- =======title-wrapper start ======== -->
				<div class="title-wrapper pt-30">
					<div class="row align-items-center">
						<div class="col-md-6">
							<div class="title mb-30">
								<h2>Sign in</h2>
							</div>
						</div>
						<!-- end col -->
					</div>
					<!-- end row -->
				</div>
				<!-- ===== title-wrapper end ======== -->

				<div class="row g-0 auth-row">
					<div class="col-lg-6">
						<div class="auth-cover-wrapper bg-primary-100">
							<div class="auth-cover">
								<div class="title text-center">
									<h1 class="text-primary mb-10">Welcome Back</h1>
									<p class="text-medium">
										Sign in to your Existing account to continue
									</p>
								</div>
								<div class="cover-image">
									<img src="{% static 'logger/db/images/auth/signin-image.svg' %}" alt="" />
								</div>
								<div class="shape-image">
									<img src="{% static 'logger/db/images/auth/shape.svg' %}" alt="" />
								</div>
							</div>
						</div>
					</div>
					<!-- end col -->
					<div class="col-lg-6">
						<div class="signin-wrapper">
							<div class="form-wrapper">
								<h6 class="mb-15">Sign In Form</h6>
								<p class="text-sm mb-25">
									Start improving today!
								</p>
								<form action="{% url 'login' %}" method="POST">
									{% csrf_token %}
									<div class="row">
										<div class="col-12">
											<div class="input-style-1">
												<label>Username</label>
												<input type="text" placeholder="Username" name="username" autocomplete="off" />
											</div>
										</div>
										<!-- end col -->
										<div class="col-12">
											<div class="input-style-1">
												<label>Password</label>
												<input type="password" placeholder="Password" name="password" />
											</div>
										</div>
										<!-- end col -->
										<div class="col-12">
											<div 
												class="
													button-group
													d-flex
													justify-content-center
													flex-wrap
												"
											>
												<button
													class="
														main-btn
														primary-btn
														btn-hover
														w-100
														text-center
													"
												>
													Sign In
												</button>
											</div>
										</div>
									</div>
									<!-- end row -->
								</form>
								<div class="signin-option pt-40">
									<p class="text-sm text-medium text-dark text-center">
										Don't have an account yet?
										<a href="{% url 'register' %}">Create an account</a>
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- end col -->
				</div>
				<!-- end row -->
			</div>
		</section>
		<!-- ======= signin-section end ======== -->
	</main>
{% endblock %}

{% block scripts %}
	<script src="{% static 'logger/db/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'logger/db/js/Chart.min.js' %}"></script>
    <script src="{% static 'logger/db/js/main.js' %}"></script>

{% endblock %}
